@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Meridian Line Travel</h1>
    <h9>Here you can find available planes in our database!</h9>
    <p></p>
    <img src="https://www.planeandpilotmag.com/images/stories/photo-gallery/full/Cessna-400.jpg" alt="Plane" width="600" height="500" />
    <p></p>
    <iframe width="75" height="75" scrolling="no" frameborder="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1151058724&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

<script>
    console.log("Wow look at that plane!")
    console.log("It sounds Amazing!")
</script>
