@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<a>This site uses your Google sign-in details such as ID, Email, Profile Image and Name. This is done on a session basis, logging on grants access to our database. Alterantivly you can log on locally. We will store your email and password securly.</a>
